__pycache__/
# workspace
*/workspace/*
*/Workspace/*
Workspace/*
workspace/*
*.tiff
*.fits
*.pyc
.venv/
*.geojson
.env
# Coverage reports
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
